<p>
  <mat-toolbar color="primary">
    <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
      <mat-icon>library_books</mat-icon>
    </button>
    <span>Receipe Book</span>
   <div class="align center">
    <button mat-button class="fs-1 mx-1">Receipes</button> 
     <button  mat-button class="fs-1 mx-1">Shopping List</button>
   </div>
    <span class="example-spacer"></span>
    <button mat-icon-button class="example-icon favorite-icon fs-1" aria-label="Example icon-button with heart icon">
    <span class="fs-1 mx-1">Manage</span>
    <mat-icon>arrow_drop_down</mat-icon>
    </button>
   
  </mat-toolbar>
</p>


<button mat-button>Basic</button>