<mat-toolbar color="primary">
  <mat-toolbar-row>
    <button mat-icon-button>
      <mat-icon >library_books</mat-icon>
    </button>
    <h1>Recipe Book</h1>
    <span class="menu-spacer"></span>
    <div>
      <a class="mx-1" mat-button [routerLink]="'/accounts'">Receipes </a>
      <a mat-button [routerLink]="'/create-account'"> Shopping List </a>
    </div>
    <span class="example-spacer"></span>
    <button mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
      <!-- <span>Manage</span> -->
      <mat-icon>arrow_drop_down</mat-icon>
    </button>
  </mat-toolbar-row>
</mat-toolbar>